{{#> app}}
    {{#*inline "content"}}
    <!-- <div class="text-center">
        Welcome to the application
        </div> -->
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-2">
                <img src="/images/game.png" class="img-fluid rounded">
            </div>
            <div class="col-md-6 col-lg-4 mb-2">
                <img src="/images/safe.png" class="img-fluid rounded">
            </div>
            <div class="col-md-6 col-lg-4 mb-2">
                <img src="/images/submarine.png" class="img-fluid rounded">
            </div>
        </div>
    {{/inline}}
{{/app}}